.DS_Store
Thumbs.db
*~

.idea/
*.iws
*.iml
*.ipr
.vscode/
.fleet/

.settings/
.classpath
.project
.factorypath
.apt_generated/
.springBeans
.sts4-cache/

nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

data_pipeline/venv/
data_pipeline/env/

__pycache__/
*.py[cod]
*$py.class

.env

data_pipeline/data/raw/
data_pipeline/data/processed/

backend_api/HELP.md
backend_api/.gradle/
backend_api/build/
backend_api/bin/
backend_api/out/

!backend_api/gradle/wrapper/gradle-wrapper.jar